   *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }

    body{
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: rgb(255, 255, 255);
    }

    header{
        height: 12vh;
    }

    header 
    .header-box{
       position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 12vh;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 0;

    }

    .logo-container{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 60px;
        width: 60px;
        margin-left: 4vw;
    }

    .logo{
        background-color: #000;
        width: 100%;
        height: 50vh;
        color: #ffff;
        text-align: center;
        align-self: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 1.1rem;
        border-radius: 100%;
        justify-content: center;
    }

    .rightNav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right:  5vw;
        
    }
    .rightNav-container img{
        width: 100%;
        height: 100%;
        object-fit: contain;    
    }
    .btn-icons{
        display: flex;
        gap: 10vw;

    }
  .toggle-drop{
        font-size: 2em;
        transition: all 0.3s ease-in-out;
        height: 100%;
    }
    .accout-dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: fit-content;
         transform: translateY(0);
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    .btn-icons li{
        transition: all 0.3s ease-in-out;
        cursor: pointer;
     
    }
    .toggle-drop:hover{
        cursor: pointer;
        scale: 1.2;
        color: #000;
     
    }

    #toggle-drop{
        outline: none;
        background-color: #00000000;
        border: none;
         cursor: pointer;
    }

    .accout-dropdown.hidden{
     transform: translateY(-500%);
     opacity: 0;
    }

    .accout-dropdown li{
        transition: all 0.3s ease-in-out;
               cursor: pointer;
    }
    .bell-notif{
            position: relative;
    }
    .bell-notif:hover{
        animation: shake 0.5s ease-in-out forwards;
    }
 
    .settings:hover {
         transform-origin: center;
           scale: 1.1;

    }
        
    .mess-notif:hover{
        scale: 1.1;
    }
    .sign-out:hover{
        scale: 1.1;
    }


@keyframes shake {
    0% { transform:  rotate(0); }
    25% { transform:  rotate(-10deg); }
    50% { transform:  rotate(10deg); }
    75% { transform:  rotate(-10deg); }
    100% { transform:  rotate(0); }
}


/* BOTOM NAVI */

.quicManage{
    position: absolute;
    bottom: 13vh;
    right: 8vw;
    align-items: center;
    z-index: 100;

}

.toggle-show{
    display: flex;
    flex-direction: column-reverse;
    gap: 5px
}
#showQuickManage{
    padding: 5px;
    background-color: #00000000;
    border: none;
}
#showQuickManage img{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.manage-show{
    background-color: rgb(243, 243, 243);
    box-shadow: 0 0 5px #00000073;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5vh;
    border-radius: 25px;
    padding-top: 15px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.manage-show li{
    transition: all 0.3s ease-in-out;
}
.manage-show li:hover{
    scale: 1.2;
}
.manage-show li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}


.manage-show.hidden{
   transform: translateY(200%);
}

/* NAVIGATION SECTION */
.bottom-box{
    display: flex;
    flex-direction: row;
}

.navigator-container{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-top: 2px solid #1b1010;
}


.navigator-container   li i{
   font-size: 1.2em;
   color: rgb(0, 0, 0);
}

.navigator-container   li{
    transition: all 0.3s ease-in-out;
}
.navigator-container li:hover{
    cursor: pointer;
    scale: 1.5;
}

.navigator-container .list-icon.active{
    scale: 1.5;
}