.sections-container{
    display: flex;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin: 15px;
}

.sections-container ul{
    list-style-type: none;


}

.dashboard-section,.attendance-section,.performance-section,.employee-section{
    display: none;
}

.active-section{
    display: block;
}